<mat-form-field>
  <input matInput placeholder="Chat will appear here" value="chat content" id="chatHistory">
</mat-form-field>
  <br />
<mat-form-field>
  <input matInput placeholder="What's on your mind?" value="">
</mat-form-field>
<p>I want to add chat interactivity through the form elements. I have some javascript from <a href="https://www.masswerk.at/elizabot/">https://www.masswerk.at/elizabot/</a> that I can use for now</p>
<p>I am also learning components and databinding with Angular</p>
