<!--The content below is only a placeholder and can be replaced.-->
<mat-card>
  <mat-card-header>
    <mat-card-title style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>thElizaBot: Theo's version if the Rogerian psychotherapy chatbot called Eliza</h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-elizabot></app-elizabot>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
